/* Start Variables */
:root {
    --mainColor: #2196F3;
    --mainColorHover: #1787e0;
    --mainTransition: 0.3s;
    --headerHeight: 72px;
    --sectionPadding: 100px;
    --textTransparentColor: #666;
    --secondSectionBackground: #eee;
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cairo", sans-serif;
}
html {
    scroll-behavior: smooth;
}
a {
    color: inherit;
    text-decoration: none;
}
.mega-menu.active {
    visibility: visible;
    transform: translateY(1px);
}
ul {
    list-style: none;
}
button {
    border: none;
}
input {
    border: none;
    outline: none;
}
input[type="submit"] {
    cursor: pointer;
}
.overlay {
    background-color: rgb(255 255 255 / 95%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main-title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 15px;
    text-transform: uppercase;
    position: relative;
    border: 2px solid black;
    transition: border var(--mainTransition),
                background-color var(--mainTransition) calc(2 * var(--mainTransition)),
                color  var(--mainTransition) calc(2 * var(--mainTransition));
}
.main-title::after,
.main-title::before {
    --pseudoVerPosition: -30px;
    content: "";
    background-color: var(--mainColor);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.main-title::before {
    left: var(--pseudoVerPosition);
    transition: left var(--mainTransition) linear,
                width var(--mainTransition) var(--mainTransition) linear,
                height var(--mainTransition) var(--mainTransition) linear;
}
.main-title::after {
    right: var(--pseudoVerPosition);
    transition: right var(--mainTransition) linear,
    width var(--mainTransition) var(--mainTransition) linear,
    height var(--mainTransition) var(--mainTransition) linear;
}
.main-title:hover {
    background-color: var(--mainColor);
    color: white;
    border-color: transparent;
}
.main-title:hover::after,
.main-title:hover::before {
    border-radius: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}
.main-title:hover::after {
    right: 0;
}
.main-title:hover::before {
    left: 0;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
header {
    box-shadow: 0 0 10px #DDD;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
header .container > span {
    height: var(--headerHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: var(--mainColor);
}
header .container > ul {
    display: flex;
}
header .container > ul > li > a {
    height: 72px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color var(--mainTransition), 
                color var(--mainTransition);
}
/* Start Megamenu */
.mega-menu {
    display: flex;
    visibility: hidden;
    width: 100%;
    background-color: white;
    padding: 32px;
    gap: 50px;
    position: absolute;
    left: 0;
    z-index: 2;
    transform: translateY(30px);
    transition: transform var(--mainTransition);
}
.mega-menu::after {
    content: "";
    background-color: var(--mainColor);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
.mega-menu .image img {
    max-width: 100%;
}
.mega-menu ul {
    color: var(--mainColor);
    flex: 1;
    min-width: 240px;
    height: 280px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mega-menu ul li {
    border-bottom: 1px solid #E9E6E6;
    position: relative;
}
.mega-menu ul li a {
    display: block;
    padding: 15px;
    font-size: 18px;
}
.mega-menu ul li::before {
    content: "";
    background-color: #FAFAFA;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotateY(90deg);
    transition: var(--mainTransition);
    transform-origin: 0% 0%;
}
.mega-menu ul li:hover::before {
    transform: rotateY(0);
}
/* header .container > ul > li:nth-of-type(4):hover .mega-menu {
    visibility: visible;
    transform: translateY(1px);
} */
/* End Megamenu */
header .container > ul > li > a::before {
    content: "";
    background-color: var(--mainColor);
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(90deg);
    transition: var(--mainTransition);
    transform-origin: top left;
}
header .container > ul > li > a:hover {
    background-color: #FAFAFA;
    color: var(--mainColor);
}
header .container > ul > li > a:hover::before {
    transform: rotateY(0);
}
@media (max-width: 991px) {
    header .container > span {
        height: 50px;
        width: 100%;
    }
    header .container > ul {
        margin: auto;
    }
    header .container > ul > li > a {
        height: 35px;
        padding: 15px;
        font-size: 14px;
    }
    .mega-menu {
        flex-direction: column;
        padding: 5px;
        gap: 5px;
    }
    .mega-menu::after {
        height: 3px;
    }
    .mega-menu .image {
        margin: auto;
    }
}
/* End Header */
/* Start Landing */
.landing {
    background-color: #ECECEC;
    position: relative;
}
/* .landing::after {
    background-color: white;
    content: "";
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: skew(-50deg);
} */
.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - var(--headerHeight));
    padding-bottom: 120px;
}
.landing .container .text h1 {
    letter-spacing: -1px;
}
.landing .container .text p {
    font-size: 24px;
    line-height: 1.7;
    color: #777;
}
.landing .container img {
    width: 600px;
    max-width: 100%;
    animation: up-down 2s alternate infinite linear;
}
@keyframes up-down {
    to {
        transform: translateY(-50px);
    }
}
.landing .go-down {
    display: block;
    width: 50px;
    font-size: 30px;
    color: var(--mainColorHover);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    animation: bouncing 1.5s alternate infinite;
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-15px);
    }
}
@media (max-width: 767px) {
    .landing .container .text {
        text-align: center;
    }
    .landing .container .text h1 {
        margin: 15px auto;
    }
    .landing .container .text p {
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .landing .container {
        flex-direction: column;
        justify-content: center;
        gap: 70px;
    }
}
/* End Landing */
/* Start Articles */
article {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
article .container .images-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}
article .container .box {
    flex-basis: 22%;
    transition: transform var(--mainTransition), 
                box-shadow var(--mainTransition);
    box-shadow: 0 0 10px #DDD;
    border-radius: 6px;
    overflow: hidden;
}
article .container .box:hover {
    box-shadow: 0 0 10px 5px #DDD;
}
article .container .images-content .image img {
    border-radius: inherit;
    width: 100%;
    max-width: 100%;
}
article .container .images-content .text {
    padding: 20px;
    line-height: 1.7;
}
article .container .images-content .text p {
    color: var(--textTransparentColor);
}
article .container .box > div:last-child {
    display: flex;
    align-items: center;
    color: var(--mainColor);
    font-weight: bold;
    justify-content: space-between;
    padding: 20px;
}
article .container .box:hover {
    transform: translateY(-10px);
}
article .container .box:hover i {
    animation: go-right 0.7s infinite;
}
article .container .box > div:last-child {
    border-top: 1px solid #E6E6E7;
}
@keyframes go-right {
    to {
        transform: translateX(10px);
    }
}
@media (max-width: 767px) {
    article .container .images-content {
        flex-direction: column;
        row-gap: 20px;
    }
}
@media (max-width: 1199px) {
    article .container .images-content {
        row-gap: 50px;
    }
    article .container .box {
        flex-basis: 45%;
    }
}
/* End Articles */
/* Start Gallery */
.gallery {
    background-color: var(--secondSectionBackground);
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.gallery .container .gallery-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .container .gallery-content .box {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 20px #CCC;
}
.gallery .container .gallery-content .box .image {
    overflow: hidden;
    position: relative;
}
.gallery .container .gallery-content .box .image::after {
    content: "";
    background-color: rgb(255 255 255 / 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform var(--mainTransition);
}
.gallery .container .gallery-content .box .image:hover::after {
    opacity: 0;
    animation: flashing 0.4s linear;
}
.gallery .container .gallery-content img {
    max-width: 100%;
    transition: var(--mainTransition);
}
.gallery .container .gallery-content .box:hover img {
    /* transform: scale(1.05) rotate(5deg); Notice That This One Will Give Another Result In The Animation, Presedence Is Important Here */
    transform: rotate(5deg) scale(1.1);
}
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}
/* End Gallery */
/* Start Features */
.features {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}
.features .box {
    box-shadow: 0 0 10px #CCC;
    text-align: center;
}
.features .image {
    position: relative;
    overflow: hidden;
}
.features .box .image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -1px;
}
.features .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent transparent white transparent;
    transition: border-width var(--mainTransition);
}
.features .box:hover .image::after {
    /* border-width: 170px 500px 170px 0; */
    border-width: 0 500px 170px 0;
}
.features img {
    max-width: 100%;
}
.features h2 {
    font-size: 40px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 10px auto;
    margin-top: 0;
    position: relative;
}
.features h2::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.features p {
    font-size: 20px;
    line-height: 2;
    padding: 20px;
    color: var(--textTransparentColor);
    margin-bottom: 30px;
}
.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: red;
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 22px;
    /* font-size: 50px; Why Font This Gives You a White Line Above The Bottom Border ? */
    /* Answer: Because Of The Border Is Not Considered From The Width */
    /* So Using Pseudo Element Avoids Problems */
    cursor: pointer;
    transition: background-position var(--mainTransition);
    position: relative;
    transition: color var(--mainTransition);
}
.features .quality .image::before {
    background-color: rgb(244 64 54 / 0.6);
}
.features .quality h2::after {
    background-color: #f44036;
}
.features .quality a {
    color: #f44036;
    border-color: #f44036;
}
.features .quality a:hover {
    color: white;
}
.features .time .image::before {
    background-color: rgb(0 150 136 / 0.6);
}
.features .time h2::after {
    background-color: #009688;
}
.features .time a {
    color: #009688;
    border-color: #009688;
}
.features .time a:hover {
    color: white;
}
.features .passion .image::before {
    background-color: rgb(3 169 244 / 0.6);
}
.features .passion h2::after {
    background-color: #03a9f4;
}
.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
}
.features .time a:hover {
    color: white;
}
.features .box a::before {
    content: "";
    background-color: #03a9f4;
    width: calc(100% + 2px); /* 2px to fill That Tiny White Space 1px for the right one + 1px for the left one */
    height: calc(100% + 2px); /* Same But Vertical */
    position: absolute;
    top: -1px; /* Centering It Because Of The Additional 2px */
    left: -1px; /* Same But Vertical */
    transform: rotateY(90deg);
    transition: transform var(--mainTransition);
    z-index: -1;
    transform-origin: left center;
}
.features .quality a::before {
    background-color: #f44036;
}
.features .time a::before {
    background-color: #009688;
}
.features .passion a::before {
    background-color: #03a9f4;
}
.features .box:hover a {
    color: white;
}
.features .box:hover a::before {
    transform: rotate(0);
}
/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--secondSectionBackground);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .container .testi-box {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px #CCC;
    position: relative;
}
.testimonials .container .testi-box .testi-image {
    --testiWidthing: 100px;
    width: var(--testiWidthing);
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    border: 10px solid #eee;
    top: calc(-1 * (var(--testiWidthing) / 2));
    right: -10px;
}
.testimonials .container .testi-box .testi-image img {
    max-width: 100%;
}
.testimonials .container .testi-box > *:not(p:last-of-type) {
    margin-bottom: 10px;
}
.testimonials .container .testi-box ul {
    display: flex;
    gap: 10px;
}
.testimonials .container ul li i {
    color: #ffc107;
}
.testimonials .container .testi-box P {
    color: var(--textTransparentColor);
}
.testimonials .container .testi-box p:last-of-type {
    line-height: 1.6;
}
/* End Testimonials */
/* Start Team */
.team {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    position: relative;
    z-index: 2;
}
.team .container .box {
    border-radius: 7px;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}
.team .container .box::before {
    content: "";
    background-color: #F3F3F3;
    border-radius: inherit;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}
.team .container .box::after {
    content: "";
    background-color: #E4E4E4;
    border-radius: inherit;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform var(--mainTransition);
    transform: rotateY(90deg);
    transform-origin: right center;
    z-index: -1;
    /* z-index: -3; Set It To This If You Don't Want To Make The Fill Get Back */
}
.team .container .box:hover::after {
    transform: rotateY(0);
}
.team .container .data {
    display: flex;
    border-radius: inherit;
}
.team .container img {
    max-width: 85%;
    border-radius: inherit;
    transition: filter var(--mainTransition);
}
.team .container .box:hover img {
    filter: grayscale(100%);
}
.team ul {
    height: 60%;
    color: var(--textTransparentColor);
    align-self: center;
    padding: 0 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    flex: 1;
    transition: color var(--mainTransition);
}
.team ul li a:hover {
    color: var(--mainColor);
}
.team .container h3 {
    flex-basis: 100%;
    padding: 15px 0;
    font-size: 25px;
    color: var(--mainColor);
    margin-top: 0;
}
.team .container h3,
.team .container p {
    margin-left: 70px;
}
/* End Team */
/* Start Services */
.services {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--secondSectionBackground);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}
.services .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 230px;
    box-shadow: 0 0 10px 1px #CCC;
    text-align: center;
    transition: transform var(--mainTransition);
}
.services .box::before {
    content: "";
    background-color: var(--mainColor);
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    transform: rotateY(90deg);
    transition: transform var(--mainTransition);
}
.services .box:hover {
    transform: translateY(-13px);
}
.services .box:hover::before {
    transform: rotateY(0);
}
.services h6 {
    font-size: 65px;
    color: #E4E4E4;
}
.services h2 {
    margin: 0;
    font-size: 27px;
    color: var(--mainColor);
    letter-spacing: -1px;
}
.services .box div:last-of-type {
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    height: 45px;
}
.services .box div:last-of-type span {
    display: flex;
    flex-basis: 10%;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 2;
}
.services .box div:last-of-type span:first-child {
    background-color: var(--mainColor);
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.services .box div:last-of-type span:last-child {
    color: var(--mainColor);
}
.services .box div:last-of-type span:first-child::before {
    content: "";
    background-color: var(--mainColor);
    position: absolute;
    right: -70%;
    top: 0;
    width: 70%;
    height: 100%;
    transform: skew(-25deg) translateX(-50%);
    z-index: -1;
}
.services .box div:last-of-type span:first-child::after {
    content: "";
    background-color: #E4E4E4;
    position: absolute;
    right: -140%;
    top: 0;
    width: 70%;
    height: 100%;
    transform: skew(-25deg) translateX(-50%);
    z-index: -1;
}
/* End Services */
/* Start Skills */
.skills {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.skills .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.skills img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.skills .content {
    height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}
.skills .container h3 {
    margin-bottom: 20px;
}
.skills .container .content span {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 1px;
    position: relative;
}
.skills .container .content span::before {
    content: attr(numbering);
    color: var(--mainColor);
    width: 50px;
    aspect-ratio: 2 / 1;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(-1 * (24px + (2px * 2)) - 15px);
    transform: translateX(-50%);
    border: 2px solid #EEE;
    border-radius: 5px;
}
.skills .container .content span::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 9px;
    border-style: solid;
    border-color: #EEE transparent transparent transparent;
    position: absolute;
    top: -15px;
    transform: translateX(-50%);
}
/* Inner - Start Linear Gradient */
.skills .container .content div:nth-child(1) span {
    background-image: linear-gradient(to right, var(--mainColor) 80%, #eee 80%);
}
.skills .container .content div:nth-child(2) span {
    background-image: linear-gradient(to right, var(--mainColor) 85%, #eee 85%);
}
.skills .container .content div:nth-child(3) span {
    background-image: linear-gradient(to right, var(--mainColor) 70%, #eee 70%);
}
.skills .container .content div:nth-child(4) span {
    background-image: linear-gradient(to right, var(--mainColor) 80%, #eee 80%);
}
/* Inner - End Linear Gradient */
/* Inner - Start Pseudo Positioning */
.skills .container .content div:nth-child(1) span::before,
.skills .container .content div:nth-child(1) span::after,
.skills .container .content div:nth-child(4) span::before,
.skills .container .content div:nth-child(4) span::after {
    left: 80%;
}
.skills .container .content div:nth-child(2) span::before,
.skills .container .content div:nth-child(2) span::after {
    left: 85%;
}
.skills .container .content div:nth-child(3) span::before,
.skills .container .content div:nth-child(3) span::after {
    left: 70%;
}
/* Inner - End Pseudo Positioning */
@media (max-width: 767px) {
    .skills .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }
}
/* End Skills */
/* Start Work */
.work {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--secondSectionBackground);
}
.work .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.work .container .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.work .container > img {
    max-width: 100%;
}
.work .container .row {
    padding: 20px;
    background-color: rgb(246, 245, 245);
    border: 2px solid white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 2;
}
.work .container .row::before {
    content: "";
    background-color: rgb(237, 237, 237);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform var(--mainTransition);
    z-index: -1;
}
.work .container .row:hover::before {
    transform: translate(-50%, -50%) scale(1);
}
.work .container .row img {
    width: 64px;
    height: 64px;
    /* aspect-ratio: 100 / 135; */
}
.work .container .text {
    line-height: 1.8;
}
.work .container .text p {
    color: var(--textTransparentColor);
}
@media (max-width: 767px) {
    .work .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 50px;
    }
    .work .container .row {
        flex-direction: column;
        text-align: center;
    }
}
/* End Work */
/* Start Events */
.events {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.events .info {
    display: flex;
    align-items: center;
}
.events .info img {
    width: 450px;
    max-width: 100%;
}
.events .text {
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.events ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.events ul span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.events ul li {
    width: 70px;
    height: 100px;
    border: 2px solid #CCC;
    border-radius: 5px;
    font-size: 15px;
    transition: border-color var(--mainTransition);
}
.events ul li span:nth-child(1) {
    height: 70%;
    color: var(--mainColor);
    font-size: 35px;
    font-weight: bold;
    border-bottom: 2px solid #CCC;
    transition: border-color var(--mainTransition);
}
.events ul li:hover,
.events ul li:hover span:nth-child(1) {
    border-color: var(--mainColor);
}
.events ul li span:nth-child(2) {
    height: 30%;
    color: var(--textTransparentColor);
}
.events h2 {
    font-size: 35px;
}
.events p {
    line-height: 1.7;
    font-size: 19px;
    color: #888;
}
.events form {
    display: flex;
    gap: 25px;
    margin-top: 50px;
    width: 600px;
    justify-content: center;
    padding: 30px;
    background-color: #F6F5F5;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}
.events form input {
    display: block;
    font-size: 18px;
    border-radius: inherit;
    height: 60px;
}
.events form input[type="email"] {
    padding: 0 20px;
    width: 75%;
    caret-color: var(--mainColor);
}
.events form input[type="email"]::placeholder {
    transition: opacity var(--mainTransition);
}
.events form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.events form input[type="submit"] {
    background-color: var(--mainColor);
    color: white;
    font-weight: bold;
    width: 25%;
}
@media (max-width: 767px) {
    .events .info {
        flex-direction: column;
        gap: 30px;
    }
    .events .text {
        gap: 30px;
    }
    .events h2 {
        font-size: 30px;
    }
    .events ul {
        gap: 20px;
    }
    .events form {
        margin-top: 80px;
        padding: 20px;
        border-radius: 0;
        max-width: 100%;
        flex-direction: column;
    }
    .events form input[type="email"],
    .events form input[type="submit"] {
        width: 100%;
    }
    .events form input[type="email"]::placeholder {
        display: block;
        width: 100%;
        text-align: center;
        align-self: center;
        margin-left: 50px;
    }
}
/* End Events */
/* Start Pricing */
.pricing {
    background-color: var(--secondSectionBackground);
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}
.pricing .container .box {
    background-color: white;
    box-shadow: 0 0 10px 2px #CCC;
    position: relative;
    z-index: 2;
}
.pricing .container .box:nth-of-type(2) {
    transform: translateY(-30px);
}
.pricing .container .box::before,
.pricing .container .box::after {
    content: "";
    background-color: #F6F6F6;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    transform: rotateY(90deg);
    transition: transform var(--mainTransition);
    z-index: -1;
}
.pricing .container .box::before {
    top: 0;
    transform-origin: center right;
}
.pricing .container .box::after {
    bottom: 0;
    transform-origin: center left;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
    transform: rotateY(0);
}
.pricing h2 {
    margin-bottom: 30px;
}
.pricing h1,
.pricing h2,
.pricing p {
    text-align: center;
}
.pricing h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    position: relative;
}
.pricing .box:nth-of-type(2) h2::before {
    content: "Most Popular";
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--mainColor);
    width: 50%;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(70%) rotate(90deg);
}
.pricing h1 {
    font-size: 60px;
    color: var(--mainColor);
    margin-top: 30px;
    margin-bottom: 3px;
}
.pricing p {
    color: var(--textTransparentColor);
    margin-bottom: 15px;
    margin-top: 15px;
}
.pricing img {
    width: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.pricing ul {
    border-top: 1px solid #EEE;
}
.pricing ul li {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #EEE;
}
.pricing ul li i {
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 900;
    margin-right: 10px;
}
.pricing a {
    background-color: white;
    color: var(--mainColor);
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--mainColor);
    height: 50px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    margin: 30px 0;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--mainTransition),
                color var(--mainTransition);
}
.pricing a:hover {
    background-color: var(--mainColor);
    color: white;
}
@media (max-width: 767px) {
    .pricing .container .box:nth-of-type(2) {
        transform: translateY(0);
    }
    .pricing .box:nth-of-type(2) h2::before {
        transform: translateY(60%) rotate(90deg);
    }    
}
/* End Pricing */
/* Start Video */
.video {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}
.video .container {
    display: flex;
}
.video .list {
    border: 2px solid #EEE;
    flex-basis: 30%;
}
.video .list h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEE;
    padding: 20px;
}
.video .list ul li {
    padding: 20px;
    line-height: 1.7;
}
.video .list ul li:not(:last-child) {
    border-bottom: 2px solid #EEE;
}
.video .list ul li span {
    color: var(--textTransparentColor);
}
.video img {
    max-width: 100%;
}
.video .vid-cont {
    padding: 10px;
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video .vid-cont p {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 15px;
    background-color: white;
}
@media (max-width: 991px) {
    .video .container {
        flex-direction: column;
    }
    .video img {
        margin-bottom: 11px;
    }
}
/* End Video */
/* Start Stats */
.stats {
    background-image: url("../imgs/stats.jpg");
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    position: relative;
}
.stats h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    position: relative;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    position: relative;
}
.stats .container .box {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    gap: 10px;
    text-align: center;
    background-color: white;
    padding: 25px 0;
}
.stats .container .box p {
    font-weight: bold;
    font-size: 50px;
}
.stats .container .box span {
    color: var(--mainColor);
    font-weight: bold;
    font-size: 19px;
}
@media (max-width: 767px) {
    .stats h1 {
        font-size: 35px;
    }
}
/* End Stats */
/* Start Discount */
.discount {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.discount .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
.discount .box:nth-child(1) {
    background-image: url("../imgs/discount-background1.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
    animation: change-bakckground 7s linear infinite alternate;
}
.discount .box:nth-child(1) h1 {
    font-size: 40px;
    margin: 20px 0;
}
.discount .box:nth-child(1) p {
    line-height: 1.6;
    font-size: 22px;
}
.discount .box:nth-child(1) .overlay {
    background-color: rgb(23 135 224 / 97%);
}
.discount .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    max-width: 93%;
    height: 90%;
    position: relative;
}
.discount img {
    width: 300px;
}
.discount form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.discount form textarea {
    height: 150px;
    border: none;
    outline: none;
    resize: none;
}
.discount form input,
.discount form textarea {
    background-color: #F9F9F9;
    border-bottom: 1px solid #CCC;
    padding: 15px;
}
.discount input[type="submit"] {
    background-color: var(--mainColor);
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}
@keyframes change-bakckground {
    to {
        background-image: url("../imgs/discount-background2.jpg");
    }
}
@media (max-width: 767px) {
    .discount .box:nth-child(1) h1 {
        font-size: 35px;
    }
    .discount .box:nth-child(1) p {
        font-size: 16px;
    }
}
/* End Discount */
/* Start Footer */
footer {
    padding-top: 70px;
    background-color: #191919;
    color: #b9b9b9;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
footer .container > ul {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}
footer .container > ul li {
    transition: var(--mainTransition);
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #444;
}
footer .container > ul li a {
    transition: var(--mainTransition);
}
footer .container > ul li:hover a {
    transition: inherit;
    transform: translateX(10px);
    color: white;
}
footer .container > ul li i {
    color: var(--mainColor);
    margin-right: 10px;
}
footer .person h1 {
    color: white;
    font-size: 50px;
    margin: 0;
    margin-bottom: 20px;
}
footer .person ul {
    display: flex;
    gap: 10px;
}
footer .person ul li {
    background-color: #313131;
    color: white;
    width: 50px;
    aspect-ratio: 1;
}
footer .person ul li a {
    display: block;
    display: flex;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    /* transition: inherit; Transition Can't Be Inherited */
}
/* Inner - Start Brand Color */
footer .person ul li:nth-child(1):hover a {
    background-color: #4267B2;
}
footer .person ul li:nth-child(2):hover a {
    background-color: #1DA1F2;
}
footer .person ul li:nth-child(3):hover a {
    background-color: #FF0000;
}
/* Inner - End Brand Color */
footer .person p {
    line-height: 2;
    margin-top: 20px;
}
footer .contact .list {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
footer .contact .list p {
    line-height: 1.6;
}
footer .contact .list i {
    color: var(--mainColor);
    margin-right: 10px;
    font-size: 25px;
}
footer .photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 150px;
    gap: 5px;
}
footer img {
    max-width: 100%;
    border: 3px solid white;
}
footer .container + div {
    background-color: #191919;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-top: 1px solid #444;
    margin-top: 50px;
    max-width: 100%;
}
@media (max-width: 767px) {
    footer .container{
        text-align: center;
    }
    footer .person ul {
        justify-content: center;
    }
    footer .contact .list {
        flex-direction: column;
        gap: 20px;
    }
    footer .container > ul li {
        width: 100%;
    }
    footer .container + div {
        margin-top: 100px;
    }
}
/* End Footer */